//Colors
$primary_red: hsl(1, 90%, 64%);
$primary_blue: hsl(219, 85%, 26%);

$neutral_white: hsl(0, 0%, 100%);
$neutral_very-light-grayish-blue: hsl(210, 60%, 98%);
$neutral_light-grayish-blue-1: hsl(211, 68%, 94%);
$neutral_light-grayish-blue-2: hsl(205, 33%, 90%);
$neutral_grayish-blue: hsl(219, 14%, 63%);
$neutral_dark-grayish-blue: hsl(219, 12%, 42%);
$neutral_very-dark-blue: hsl(224, 21%, 14%);

//Typography
$fs_body: 16px;
$fs_p: 0.9rem;

$ff-primary: "Plus Jakarta Sans", sans-serif;

$fw_medium: 500;
$fw_bolder: 800;
